.example-full-width {
  width: 100%;
}

.sergio {
  background: #47a4fa;
}

.removeCollo{
  color: #b22222;
  border: 1px solid #b22222;
  font-size: 14px;
}

.removeCollo:hover{
  color: whitesmoke;
  background: #b22222;
}

.spedisci {
    background: #47a4fa;
    color: white;
}